@import "src/common/scss/mixins/mixins";

.container {
  width: 100%;
  height: auto;
  @include flex(flex-start, stretch);
  @media screen and (max-width: 680px) {
    @include flex(flex-start, stretch, column);
  }

  .bgContainer {
    width: 40%;
    background-color: rgb(245, 245, 245);
    position: relative;
    @media screen and (max-width: 680px) {
      width: 100%;
      height: 200px;
    }
    @media screen and (max-width: 400px) {
      height: 180px;
    }

    .bg {
      right: 0;
      position: absolute;
      z-index: 1;
      width: 120%;
      height: 100%;
      overflow: hidden;

      & > img {
        width: 100%;
        height: 100%;
        filter: blur(24px);
        transform: scale(1.5);
        transform-origin: right top;
      }

      @media screen and (max-width: 680px) {
        right: -5%;
      }
    }

    & > img {
      position: absolute;
      z-index: 2;
      width: 260px;
      height: 380px;
      border-radius: 12px;
      right: -30px;
      top: 30px;
      border: 1px solid rgb(232, 232, 232);
      @media screen and (max-width: 1050px) {
        width: 210px;
        height: 310px;
      }
      @media screen and (max-width: 800px) {
        width: 190px;
        height: 290px;
      }
      @media screen and (max-width: 680px) {
        width: 150px;
        height: 210px;
        bottom: -40px;
        top: auto;
        left: 50%;
        transform: translate(-50%, 0);
      }
      @media screen and (max-width: 400px) {
        width: 120px;
        height: 175px;
      }
    }
  }

  .description {

    .back {
      font-size: 17px;
      color: rgb(179, 77, 0);
      @include flex(flex-start, center);
      gap: 10px;
      cursor: pointer;

      &:hover {
        color: rgb(83, 83, 89);
      }
    }

    padding: 30px 0 60px 60px;
    width: 100%;
    @media screen and (max-width: 680px) {
      padding: 50px 0 60px 0;
    }

    .info {
      & h3 {
        margin-bottom: 10px;
      }

      .star {
        margin-top: 20px;
        color: #fadb14;
      }

      & > h1 {
        margin: 7px 0;
      }

      .authors {
        margin: 0;
        @include authors();
      }

      @include text();

      .yearPage {
        @include flex(flex-start, center);
        gap: 10px;
        color: #595959;

        & > p {
          margin-bottom: 0;
        }
      }

      .aboutBook {
        margin-top: 10px;

        .text {
          text-align: justify;
          line-height: 22px;

          .line {
            margin-top: 10px;
            height: 1px;
            width: 100%;
            background-color: #b9b9b9;
          }
        }

        & > span {
          display: none;
        }

        .button {
          margin: 15px 0 30px 0;
          @include flex(flex-start, center);
          gap: 10px;
          color: rgb(179, 77, 0);
          cursor: pointer;

          &:hover {
            color: rgb(239, 141, 66);
          }
        }
      }

      .categories {
        @include categories();
      }

    }
  }
}