@import 'src/common/scss/mixins/mixins';

.header {
  position: relative;
  max-width: 1500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 45px 3%;
  color: white;
  margin: 0 auto;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  .container {
    position: relative;
    z-index: 2;
    @include flex(center, center, column);
    margin: 0 auto;

    & > h1 {
      text-align: center;
      margin-top: 0;
    }

    @media screen and (max-width: 760px) {
      width: 80%;
    }

    .filtersPanel {
      margin-top: 20px;
      max-width: 580px;
      width: 100%;
      @include flex(space-between, center, column);
      gap: 20px;

      .search {
        width: 100%;
      }

      .selectsBlock {
        width: 100%;
        @include flex(center, center);
        gap: 20px;
        @media screen and (max-width: 530px) {
          @include flex(center, center, column);
        }

        & > div {
          width: 50%;
          gap: 10px;
          @include flex(space-between, center);
          font-weight: 500;
          @media screen and (max-width: 530px) {
            width: 100%;
          }

          & > p {
            word-break: normal;
          }
        }
      }
    }

  }
}