@import 'src/common/scss/mixins/mixins';

.error{
  padding-top: 30px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}
.books{
  padding-bottom: 80px;
  .countBooks{
    padding-top: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    & > span{
      color: rgb(179, 77, 0);
    }
    @media screen and (max-width: 347px) {
      font-size: 20px;
    }
  }
  .container {
    padding-top: 5rem;
    @media screen and (max-width: 347px) {
      padding-top: 3rem;
    }
    .notFound {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 23px;
    }

    .listBooks {
      display: grid;
      grid-template-columns:  repeat(auto-fill, minmax(410px, 1fr));
      gap: 3rem;
      row-gap: 4rem;
      @media screen and (max-width: 434px) {
        grid-template-columns: 1fr;
      }
      @media screen and (max-width: 347px) {
        row-gap: 3rem;
      }
    }

    .button {
      margin-top: 10px;
      @include flex(center, center);

    }
  }

}