@import 'src/common/scss/mixins/mixins';

.container {

  .listBooks {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(421px, 1fr));
    gap: 3rem;
    row-gap: 4rem;
  }

  .button {
    margin-top: 10px;
    @include flex(center, center);

    & > button {
      border-radius: 12px;
      padding: 12px 16px;
      margin: 30px auto 0 auto;
      text-align: center;
      text-overflow: ellipsis;
      max-width: 300px;
      width: 100%;
      color: rgb(179, 77, 0);
      font-size: inherit;
      font-weight: inherit;
      border: 2px solid rgb(179, 77, 0);
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background: rgb(179, 77, 0);
        color: white;
      }
    }
  }


}
