.button{
  border-radius: 12px;
  padding: 12px 16px;
  margin: 40px auto 0 auto;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
  color: white;
  font-size: inherit;
  font-weight: inherit;
  border: 2px solid rgb(224, 97, 2);
  transition: all 0.3s ease;
  cursor: pointer;
  background: rgb(224, 97, 2);
  &:hover {
    background: rgb(246, 147, 74);
    border: 2px solid rgb(246, 147, 74);
  }
}